.footer {
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;

    &.light-theme {
        background-color: #8efdd3;
        color: black;
    }

    &.dark-theme {
        background-color: rgb(33, 39, 28); 
        color: white;
    }
}

.createdBy {
    font-size: 14px;
    margin: 0;
}
