<nav id="navbarContainer" class="navbar navbar-expand-lg" [class.dark-theme]="!isLightTheme" [class.light-theme]="isLightTheme">
    <div class="container-fluid">
        <object type="image/svg+xml" data="assets/img/PM.svg" id="logo"></object>
        <a class="navbar-brand" href="#">PromoManager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                @if (!isLoggedIn) {
                    <li class="nav-item">
                    <a class="nav-link" href="#start">About</a>
                </li>
                }
                @if (!isLoggedIn) {
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                }
                @if (isLoggedIn) {
                    <li class="nav-item">
                        <a class="nav-link" href="#promotions">Promotions</a>
                    </li>
                }
                @if (isLoggedIn) {
                    <li class="nav-item">
                        <a class="nav-link" href="#configuration">Configuration</a>
                    </li>
                }
            </ul>
        </div>
        <div class="dropdown">
            <a href="#" class="btn btn-circle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person"></i>
            </a>
            <ul class="dropdown-menu p-4 dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                <li>
                    <h5 class="mb-3">Ingrese sus datos</h5>
                    <div class="mb-3">
                        <input type="user" class="form-control" id="userTextBox" placeholder="Usuario">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" id="passwordTextBox" placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary" (click)='login()'>Ingresar</button>
                    <button type="button" class="btn btn-link">¿Olvidaste tu contraseña?</button>
                </li>
            </ul>
        </div>
        <div class="navbar-icons">
            <button class="btn btn-circle">
                <i class="bi bi-globe"></i>
            </button>
            <div class="navbar-icons">
                <button class="btn btn-circle" (click)="toggleTheme()" [class.light-theme]="isLightTheme" [class.dark-theme]="!isLightTheme">
                    <i class="bi" [className]="themeIcon"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
