.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex: 1;
    margin-top: 60px;
  }

  .navbar {
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

    &.light-theme {
        background-color: #8efdd3;
        color: black;
    }

    &.dark-theme {
        background-color: rgb(33, 39, 28);
        color: white;
    }
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-left: 15px;
}

.dropdown {
    margin-left: 15px;
}

.nav-link{
    .light-theme & {
        color: black;
    }
    .dark-theme & {
        color: white;
    }
}

.navbar-brand{
    .light-theme & {
        color: black;
    }
    .dark-theme & {
        color: white;
    }
}

.navbar-icons {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.navbar-icons .btn-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #8c98a1;
    }

    &[class*="dark"] {
        background-color: #7a8d26;
        border-color: #8efdd3;
    }

    &[class*="dark"] i {
        color: white !important;
    }

    &[class*="light"] {
        background-color: rgb(82, 215, 255);
        border-color: rgb(33, 39, 28);
    }

    &[class*="light"] i {
        color: black !important;
    }
}

#logo {
    width: 2em; 
    height: 2em;
    animation: spin 60s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(0deg);
    }
    0% {
        transform: rotate(360deg);
    }
}

.custom-dropdown-menu {
    max-width: none;
    .light-theme & {
        background-color: rgb(213, 232, 238);
    }
    .dark-theme & {
        background-color: rgb(149, 165, 173);
    }
}

.login-menu {
    width: 300px;
}

.language-minitext {
    font-size: 12px;
    vertical-align: middle;
    .light-theme & {
        color: black;
    }
    .dark-theme & {
        color: white;
    }
}

.language-menu {
    width: 150px;
    text-align: center;
}

.custom-dropdown-menu .form-control {
    width: 100%;
}

.custom-dropdown-menu .d-flex {
    width: 100%;
}

.custom-dropdown-menu .btn-link {
    text-align: center;
    width: 100%;
}
