.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; // Ajusta la altura de la pantalla completa
}

.about-container {
    position: relative;
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.about-content {
    position: relative;
    z-index: 1;
}

.about-content h2 {
    color: #333;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content p {
    color: #555;
    font-size: 20px;
    margin-bottom: 30px;
}

.explore-button {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #0056b3;
}