<section class="contact" id="contact">
    <div class="centered-container">
        <div class="contact-container">
            <div class="contact-content">
                <h2>{{ 'CONTACT_HEADER' | translate }}</h2>
                <p>{{ 'CONTACT_SUBHEADER' | translate }}</p>
                <form action="#" method="POST">
                    <div class="form-field">
                        <label for="name">{{ 'CONTACT_NAME' | translate }}</label>
                        <input type="text" id="name" name="name" required>
                    </div>
                    <div class="form-field">
                        <label for="email">{{ 'CONTACT_EMAIL' | translate }}</label>
                        <input type="email" id="email" name="email" required>
                    </div>
                    <div class="form-field">
                        <label for="message">{{ 'CONTACT_MESSAGE' | translate }}</label>
                        <textarea id="message" name="message" rows="4" required></textarea>
                    </div>
                    <button type="submit" class="contact-button">{{ 'CONTACT_SEND_BUTTON' | translate }}</button>
                </form>
            </div>
        </div>
    </div>
</section>
